<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F8FF3451E1C55E5000DD49F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F8FF3591E1C55E9000DD49F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F8FF3641E1C55EA000DD49F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
